html,
button,
select,
textarea
{
	color:red;
	
}
body
{
	font-size:1em;
	line-height: 1.4;
	font: 16 px Helvetica;
	}
	.container
	{
	width: 90%;
	margin: 0 5;
	}
	/* color -container */
	
	.header-container
	{
	border-bottom: 20px solid #e44d26;
	}
	.footer-container,
	.main aside{
		border-top: 20px solid #e44d26;
	}
	.title
	{
		color: white;
	}
	/*MENU */
	nav  ul
	{
	  margin: 0;
	  padding:0;
	}
	nav a
	{
	  display: block;
	  margin-bottom: 10px;
	  padding: 15px;
	  text-align: center;
	  text-decoration: none;
	  font-weight: bold;
	  color: white;
	  background: #e44d26;
	  }
	 
	 nav a :hover,
	 van a:visited
	 {
	 color: white;
	 }
	 
	 nav a:hover
	 {
	 text-decoration: underline;
	 }
	 
	 nav li
	 {
	 list-style: none;
	 }
	 .main{
	 padding: 30px 0;
	 }
	 .main article h1
	 {
	 font-size: 2em;
	 }
	 .main aside{
	 color: white;
	 padding: 0px 5% 10px;
	 }
	 .footer-container footer{
		color: white;
		padding: 20px 0;	
	 }
	 .clearfix:before,
	 .clearfix:after{
		content: " ";
		display: table;
	 }
	 @media only screen and (min-width: 480px){
	 
	 /* aplica a pantalla mas anchas de 480px*/
	 h1{
		color:green;
	 }
	 nav a{
		float:left;
		width:27%;
		margin:0 1.7%;
		padding:25px 2%;
		margin-bottom: 0;
		
	 }
	 
	nav li:first-child a{
		margin-left:0;
	}
	nav li:first-child a{
		margin-right:0;
	}
	 nav li:first-child a{
		display:inline;
	}
	
	}/*fin 480px*/
	 
	 @media only screen and (min-width: 780px){
	 
	 /* aplica a pantalla mas anchas de 780px*/
	 header-container,
	 .main aside{
		/*-webkit-box-shadow:  0 5px 10px #aaa;
			-moz-box-shadow: 0 5px 10px #aaa;
			box-shadow:      0 5px 10px #aaa;
			*/
-moz-box-shadow: 39px 24px 31px #000000;
-webkit-box-shadow: 39px 24px 31px #000000;
box-shadow: 39px 24px 31px #000000;
	 }
	 }